<p id="notice"><%= notice %></p>

<p>
  <strong>Role name:</strong>
  <%= @primary_role.role_name %>
</p>

<%= link_to 'Edit', edit_primary_role_path(@primary_role) %> |
<%= link_to 'Back', primary_roles_path %>
