<p id="notice"><%= notice %></p>

<p>
  <strong>Milestone type name:</strong>
  <%= @milestone_type.milestone_type_name %>
</p>

<%= link_to 'Edit', edit_milestone_type_path(@milestone_type) %> |
<%= link_to 'Back', milestone_types_path %>
