<p id="notice"><%= notice %></p>

<p>
  <strong>Marital status name:</strong>
  <%= @marital_status.marital_status_name %>
</p>

<%= link_to 'Edit', edit_marital_status_path(@marital_status) %> |
<%= link_to 'Back', marital_statuses_path %>
