<p id="notice"><%= notice %></p>

<p>
  <strong>Milestone status name:</strong>
  <%= @milestone_status.milestone_status_name %>
</p>

<%= link_to 'Edit', edit_milestone_status_path(@milestone_status) %> |
<%= link_to 'Back', milestone_statuses_path %>
